@media (max-width: 430px) {
    .header {
        flex-direction: column;
    }
    .header__link {
        margin: 10px 0;
    }
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier Prime', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eadcbd;
    overflow-x: hidden;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.header {
    background-color: #bb8727;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.header__logo {
    display: flex;
    font-size: 1.5em;
}

.header__list {
    list-style-type: none;
}

.header__item {
    padding: 5px;
}

.header__link {
    text-decoration: none;
    color: #000;
}

.header__link:hover {
    color: white;
}

.content {
    flex: 1;
}

.content__intro {
    text-align: center;
    padding: 50px;
}

.img1 {
    width: 600px;
    position: absolute;
    z-index: 1;
}

.img2 {
    position: absolute;
    z-index: 2;    
}

.footer {
    background-color: #bb8727;
    text-align: center;  
    width: 100%;
    padding: 10px;
}
